.App {
  font-size: 16px;
}

.list-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.list-item {
  padding: 12px;
}

.list-item .item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.list-item .item-info:first-child {
  margin-top: 0;
}

.gray-text {
  color: #999;
}


/********* Create ************/
.other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  background: #fff;
  border-top: 1px solid #eee;
}
.tag span {
  display: inline-block;
  margin-right: 16px;
}

/********* TodoDetail **********/
.todo-detail {
  width: 80% !important;
  height: 30% !important;
}

.todo-detail .am-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/******** Drawer *********/
.user-drawer.am-drawer-open.am-drawer.am-drawer-left .am-drawer-sidebar {
  width: 61.8%;
  padding: 6px;
  background: #fff;
}

/******** User ***********/
.user-info {

}

.user-info .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #eee;
}

.user-info .item {
  padding: 9px 15px;
  font-size: 17px;
}
